@media(min-width: 1400px){
  .multiples-cards .cards{
    grid-template-columns: repeat(auto-fit, minmax(calc(200px - 32px), 1fr));
  }
}

@media(max-width: 1200px){
  .hero .hero-content{
    max-width: 50% ;
  }
}

@media(max-width: 991px){
  .header nav{
    display: none;
  }

  .header button.menu-mobile{
    display: block;
  }

  .hero .hero-image{
    max-width: 46%;
    height: 40rem;
  }
}

@media(max-width: 768px){
  .hero{
    padding: 4rem 0;
  }
  
  .hero .container{
    flex-direction: column;
    gap: 25px;
  }

  .hero .hero-content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero .hero-content h1{
    text-align: center;
  }

  .hero .hero-content p{
    max-width: 100%;
    margin-bottom: 3rem;
    text-align: center;
  }

  .hero .hero-image{
    max-width: 100%;
  }

  .feature-cards{
    padding: 4rem 0;
  }

  .multiples-cards{
    margin-top: 5rem;
  }

  .newsletter{
    padding: 4rem 0;
  }

  .footer {
    padding: 4rem 0;
  }

  .footer .links{
    justify-content: center;
  }

  .footer .links img{
    margin: 0 auto 2rem auto;

  }

  .footer .links .nav-footer{
    max-width: 100%;
  }
}

@media(max-width: 600px){
  .feature-cards .all-cards .card{
    padding: 4rem;
  }

  .feature-cards .all-cards .card img{
    margin-bottom: 3rem;
  }

  .feature-cards .header-multiples-cards {
    justify-content: center;
    text-align: center;
  }
}

@media(max-width: 480px){
  html{
    font-size: 55%;
  }
  
  .header .logo{
    max-width: 120px;
  }

  .hero .hero-content h1{
    font-size: 4.2rem;
  }
  
  .hero .hero-content .btn-primary{
    padding: 1.5rem 1.5rem;
  }
  
  .footer .links .nav-footer{
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
  }

  .footer .links .nav-footer div:first-child{
    margin-top: 3rem;
  }

  .footer .links .nav-footer .sociais li{
    display: flex;
    gap: 0rem;
  }
  
  .footer .links .nav-footer h3{
    width: 150px;
  }

  .footer .links .nav-footer .sociais span{
    width: 100px;
    text-align: left;
  }

  .footer .copy{
    flex-direction: column;
    gap: 2rem;
  }
}