/* Header */

.header{
  padding: 24px 0;
  background: var(--gray-colors-800);
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav{
  display: flex;
  gap: 32px;
}

.header nav ul{
  display: flex;
  gap: 32px;
}

.header nav .btn-primary{
  padding: 0.9rem 3.4rem;
}

/* Hero */

.hero{
  padding: 70px 0;
}

.hero .container{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-content{
  width: 100%;
  max-width: 64rem;
}

.hero .hero-content h1{
  margin-bottom: 2rem;
  font-family: 'Sora', sans-serif;
  font-size: 4.8rem;
  line-height: 125%;
  letter-spacing: -1px;
}

.hero .hero-content p{
  margin-bottom: 5.6rem;
  color: var(--gray-colors-30);
  font-size: 1.8rem;
  line-height: 150%;
  max-width: 48.8rem;
}

.hero .hero-content .btn-primary{
  padding: 2rem 4rem;
}

.hero .hero-image{
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  background: var(--gray-colors-800);
  display: flex;
  justify-content: center;
  align-items: center;
}