
.header{
  padding: 24px 0;
  background: var(--gray-colors-800);
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav{
  display: flex;
  gap: 32px;
}

.header nav ul{
  display: flex;
  gap: 32px;
}

.header nav .btn-primary{
  padding: 0.9rem 3.4rem;
}